<ion-header [translucent]="true">
  <app-common-toolbox [displayMessage]="msg"></app-common-toolbox>
</ion-header>

<ion-content [fullscreen]="true" [scrollTop]="true">
  <ion-card *ngIf="progress">
    <ion-label size="large" color="secondary" class="ion-padding"
      ><ion-spinner name="crescent"></ion-spinner> Loading..
      [{{file?.name}}]</ion-label
    >
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Upload a file</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        type="file"
        accept="image/png,image/jpg,image/jpeg"
        (change)="onChange($event)"
      ></ion-input>
      <ion-button (click)="onUpload()">Go</ion-button>
    </ion-card-content>
  </ion-card>

  <app-explore-container></app-explore-container>

  <ion-grid *ngIf="receipt?.receiptLines">
    <ion-row>
      <ion-col size="3"><ion-img [src]="url"></ion-img></ion-col>
      <ion-col size="9" *ngIf="receipt?.text">
        <ion-textarea
          [(ngModel)]="textResponse"
          name="textResponse"
          autocomplete="on"
          autocorrect="on"
          rows="10"
        ></ion-textarea>
        <ion-item-divider></ion-item-divider>
        <ion-button (click)="onResend()">Resubmit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="receipt?.image">
    <ion-row>
      <ion-col size="2"
        ><ion-img
          class="card-img-top"
          [src]="receipt?.image"
          height="20%"
          width="20%"
      /></ion-col>
      <ion-col size="10"
        ><p class="card-text">Provider : {{receipt?.provider}}</p></ion-col
      >
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="receipt?.receiptLines">
    <ion-card-header>
      <ion-card-title>Receipt Lines</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row color="primary">
          <ion-col><small> # </small></ion-col>
          <ion-col><small>Description</small></ion-col>
          <ion-col><small>Item code</small></ion-col>
          <ion-col><small>Quantity</small></ion-col>
          <ion-col><small>Rate</small></ion-col>
          <ion-col><small>Gross Price</small></ion-col>
          <ion-col><small>Discount</small></ion-col>
          <ion-col><small>Net Amount</small></ion-col>
        </ion-row>

        <ion-row
          *ngFor="let line of receipt?.receiptLines"
          class="{{line.validationError?'row-custom-bg-red':'row-custom-bg-green'}}"
        >
          <ion-col><small>{{ line.index }}</small></ion-col>
          <ion-col><small>{{ line.description }}</small></ion-col>
          <ion-col><small>{{ line.itemCode }}</small></ion-col>
          <ion-col><small>{{ line.quantity }}</small></ion-col>
          <ion-col><small>{{ line.rate }}</small></ion-col>
          <ion-col><small>{{ line.grossPrice }}</small></ion-col>
          <ion-col><small>{{ line.discount }}</small></ion-col>
          <ion-col><small>{{ line.netAmount }}</small></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="2"
            ><ion-button [disabled]="receipt?.lineErrors" (click)="save();"
              >Save</ion-button
            ></ion-col
          >
          <ion-col size="10"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="receipt?.fields">
    <ion-card-title>Field Values</ion-card-title>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Field Name</ion-col>
          <ion-col>Value</ion-col>
        </ion-row>
        <ion-row *ngFor="let entry of receipt?.fields | keyvalue">
          <ion-col>{{ entry.key }}</ion-col>
          <ion-col>{{ entry.value }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
