<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="file-uploader">
      <ion-icon aria-hidden="true" name="receipt-sharp"></ion-icon>
      <ion-label>File Uploader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="snapshot">
      <ion-icon aria-hidden="true" name="camera-sharp"></ion-icon>
      <ion-label>Snapshot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="library-sharp"></ion-icon>
      <ion-label>Items List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
