<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header> Backend URLS </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input
            label="Api Gateway Host"
            labelPlacement="floating"
            helperText="Enter a valid host"
            errorText="Invalid host"
            [(ngModel)]="constants.gatewayHost"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Image to Text URI"
            labelPlacement="floating"
            helperText="Enter a valid path"
            errorText="Invalid path"
            [(ngModel)]="constants.imageToObjPath"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Text to Object URI"
            labelPlacement="floating"
            helperText="Enter a valid path"
            errorText="Invalid path"
            [(ngModel)]="constants.textToObjPath"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="API URI"
            labelPlacement="floating"
            helperText="Enter a valid path"
            errorText="Invalid path"
            [(ngModel)]="constants.apiUrlPath"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
