<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      Backend URLS
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="medium">Image to Text URI</ion-label>
         <ion-input  [(ngModel)]="fileUploadService.baseImageApiUrl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" >Text to Object URI</ion-label>
          <ion-input  [(ngModel)]="fileUploadService.baseTxtApiUrl"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>